{% macro server_card(w) %}
<div class="flex gap-2 rounded-lg" style="padding: 10px; background-color: rgba(255,255,255,0.05);">
    <div class="flex flex-col justify-center items-center">
        <img src="{{ w.url }}" class="object-scale-down" style="height:90px;width:200px;"/>
        {{ w.currentMap }}
    </div>
    <div class="flex-1 flex flex-col gap-2">
        <div>
            <div class="text-1xl text-yellow-400">服务器</div>
            <div class="text-xl font-bold font-mono truncate max-w-[400px]" title="{{ w.prefix }}">{{ w.prefix }}</div>
        </div>
        <div class="flex grid grid-cols-3 gap-2">
            <div>
                <div class="text-1xl text-yellow-400">模式</div>
                <div class="text-xl font-bold font-mono truncate max-w-[80px]">{{ w.mode }}</div>
            </div>
            <div>
                <div class="text-1xl text-yellow-400">人数</div>
                <div class="text-xl font-bold font-mono">{{ w.serverInfo }}</div>
            </div>
            <div>
                <div class="text-1xl text-yellow-400">区服</div>
                <div class="text-xl font-bold font-mono">{{ w.country }}</div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}